$contentFont: Hind, sans-serif;
$contentFontSize: 16px;
$headerFont: Lora, sans-serif;
$headerFontSize: 54px;

$textColor: #fff;

$linkColor: #fff;
$linkBackgroundOrange: rgba(201, 74, 6, 1);
$linkBackgroundOrangeWithOpacity: rgba(201, 74, 6, .7);

$lineHeight: 28px;

@mixin font-smoothing() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin position-content() {
  width: 70%;
  margin: 20px auto;
  padding: 0 20px;
}

/**
 * MIT overrides for XBlocks
 **/

/*************************************************** TEXT (HTML) ***************************************************/

.mitcre-textimagexblock-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;

  @include font-smoothing();
}

.mitcre-textimagexblock-wrapper img {
  display: block;
  width: 70%;
  height: auto;
  margin: 1em auto;
}

.mitcre-textimagexblock-wrapper .background {
  height: 100%;
  width: auto;
  background-color: black;
  background-size: cover;
  padding: 2em 4em;
}

.mitcre-textimagexblock-wrapper .textimagexblock-content {
  position: relative;
  @include position-content();

  top: 7%;
  height: 60%;
  overflow: auto;
}

.mitcre-textimagexblock-wrapper h1.header-text {
  position: relative;
  @include position-content();
  top: 60px;

  font-size: $headerFontSize;
  font-weight: 400;
  font-family: $headerFont;
  color: $textColor;
}

.mitcre-textimagexblock-wrapper a {
  &.orange-link {
    padding: 4px;
    background-color: $linkBackgroundOrangeWithOpacity;

    &:hover {
      background-color: $linkBackgroundOrange;
    }
  }

  &.no-background-link {
    text-decoration: underline;
    background: none;
  }

  &.no-background-link,
  &.orange-link, &.orange-link:hover, &.orange-link:visited {
    color: $linkColor;
  }
}

.mitcre-textimagexblock-wrapper p.content-text {
  margin: 0;
  padding-top: 20px;
  line-height: $lineHeight;
  white-space: normal;
  text-align: left;
  color: $textColor;
  font-family: $contentFont;
  font-size: $contentFontSize;
}

.mitcre-textimagexblock-wrapper ol {
  margin-left: 4em !important;
}

.mitcre-textimagexblock-wrapper li {
  font-family: $contentFont;
  font-size: $contentFontSize !important;
  line-height: $lineHeight;
  color: $textColor;
  text-align: left;
  padding: 0 2em 2em 0;
}

.mitcre-textimagexblock-wrapper table {
  margin: 2em;
  width: 94%;
  border-collapse: collapse;
  color: $textColor;
  font-family: $contentFont;

  td, th {
    border: 1px solid $textColor;
    padding: 0.3em;
  }
}

.mitcre-textimagexblock-wrapper .background-video {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/**
 * Scroll bar
 **/

.mitcre-textimagexblock-wrapper ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.mitcre-textimagexblock-wrapper ::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
}

/* Handle */
.mitcre-textimagexblock-wrapper ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.9);
}

.mitcre-textimagexblock-wrapper ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.4);
}

// scroll bar end

/*************************************************** TEXT (HTML) end ***************************************************/
