// studio - developer
// ====================
// NOTE: use this area for any developer-needed or created styling that needs to be refactored into patterns or visually polished. Please list any template/view that your styles reference when definining them (example below):

// Views: Login, Sign Up
// .crazy-new-feature {
//   background: transparent;
// }

// --------------------

.unit-location,
.wrapper-release.bar-mod-content,
.wrapper-visibility.bar-mod-content,
.mast.has-actions .nav-actions,
.list-courses .item-actions.course-actions,
.status-release,
[data-type="html"].add-xblock-component-button,
[data-type="video"].add-xblock-component-button,
[data-type="discussion"].add-xblock-component-button,
[data-type="problem"].add-xblock-component-button,
[data-type="advanced"].add-xblock-component-button,
.bit.external-help {
  display: none !important;
}

/******************************* XBlocks list ********************************/

// enable visibility for the advance components list (MIT)
.new-component-templates.new-component-advanced {
  display: block !important;
  margin-bottom: 0;
  border-bottom: 0;
}
// append raw HTML block to the above list
.new-component-templates.new-component-html {
  display: block !important;
  margin-top: 0;
  border-top: 0;
  border-radius: 0;
}

.new-component-templates.new-component-html .button-component {
  outline: none;
}

/******************************* XBlocks list end *****************************/

// asset_index.html display file upload for MIT admin
.mast.has-actions .nav-actions.upload-file {
  display: block !important;
}

// index.html display add course button
.mast.has-actions .nav-actions.cre-admin {
  display:block !important;
}

/* after trying to fix this with code, I gave up and targeted it with CSS */
.new-component-html li.editor-md.empty {
  display: none !important;
}
