$contentFont: Hind, sans-serif;
$headerFont: Lora, sans-serif;

$textColor: #fff;

$linkColor: #fff;
$linkBackgroundOrange: rgba(201, 74, 6, 1);
$linkBackgroundOrangeWithOpacity: rgba(201, 74, 6, .7);

/**
 * MIT overrides for XBlocks
 **/

/*************************************************** TEXT (HTML) ***************************************************/

.mitcre-textimagexblock-wrapper {
  position: relative;
}

.mitcre-textimagexblock-wrapper img {
  display: block;
  width: 70%;
  height: auto;
  margin: 1em auto;
}

.mitcre-textimagexblock-wrapper .background {
  height: 100%;
  width: auto;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2em 4em;
}

.mitcre-textimagexblock-wrapper .textimagexblock-content {
  position: relative;
  left: 0;
  padding: 0;
  margin: 0 auto;
  height: 400px;
  width: 100%;
  overflow: auto;
}

.mitcre-textimagexblock-wrapper .header-text {
  position: relative;
  top: 0;
  width: auto;
  margin: 20px auto !important;
  padding: 0 20px;
  font-size: 54px;
  font-weight: 400;
  font-family: $headerFont;
  color: $textColor !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mitcre-textimagexblock-wrapper {
  a.orange-link {
    padding: 4px;
    background-color: $linkBackgroundOrangeWithOpacity;

    &:hover {
      background-color: $linkBackgroundOrange;
    }
  }

  a.no-background-link {
    text-decoration: underline;
    background: none;
  }

  a.no-background-link,
  a.orange-link, a.orange-link:hover, a.orange-link:visited {
    color: $linkColor;
  }
}

.mitcre-textimagexblock-wrapper .content-text {
  font-family: $contentFont;
  font-size: 16px !important;
  line-height: 28px;
  color: $textColor !important;
  text-align: left;
  margin: 0;
  padding: 20px;
  padding-bottom: 0;
  white-space: normal;
}

.mitcre-textimagexblock-wrapper ol {
  margin-left: 0;
}

.mitcre-textimagexblock-wrapper li {
  font-family: $contentFont;
  font-size: 16px !important;
  line-height: 28px;
  color: $textColor;
  text-align: left;
  padding: 0 2em 2em 0;
}

.mitcre-textimagexblock-wrapper table {
  margin: 2em;
  width: 94%;
  border-collapse: collapse;
  color: $textColor;
  font-family: $contentFont;

  td, th {
    border: 1px solid $textColor;
    padding: 0.3em;
  }
}

.mitcre-textimagexblock-wrapper .background-video {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/**
 * Scroll bar
 **/

.mitcre-textimagexblock-wrapper ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.mitcre-textimagexblock-wrapper ::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
}

/* Handle */
.mitcre-textimagexblock-wrapper ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.9);
}

.mitcre-textimagexblock-wrapper ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.4);
}

// scroll bar end

// exceptions

/* Casco Viejo Overview */

.casco-viejo {
  .background {
    background-image: url('https://s3-us-west-2.amazonaws.com/mit-cre-edx/xblocks/casco_viejo_overview/bg-static-4-casco-overview.jpg');
  }

  .background-video {
    display: none;
  }
}

/*************************************************** TEXT (HTML) end ***************************************************/
